body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab';
  color: #1d1e18;
}
.container {
  width: 1050px;
  margin: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
.footer {
  height: 100px;
  background-color: #e4e4e4;
}
.header {
  height: 220px;
}
.header .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_logo {
  height: 200px;
}
.header_logo img {
  height: 100%;
}
.menu {
  border-top: 1px solid #30b245;
  border-bottom: 1px solid #30b245;
  background-color: #fff;
}
.menu_list,
.menu_sub {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.menu_list a,
.menu_sub a {
  padding: 20px;
  display: block;
  font-weight: 400;
  font-size: 1em;
}
.menu_list {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu_list li {
  position: relative;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.menu_list li:hover {
  background-color: #30b245;
  color: #fff;
}
.menu_list li:hover .menu_sub {
  opacity: 1;
  z-index: 10;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  visibility: visible;
  background-color: #333;
}
.menu_sub {
  position: absolute;
  color: #fff;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.8em;
  width: 200px;
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  visibility: hidden;
  transition: -webkit-transform 250ms, opacity 200ms, visibility 200ms, background-color 200ms;
  transition: transform 250ms, opacity 200ms, visibility 200ms, background-color 200ms;
  background-color: transparent;
  z-index: -10;
}
.menu_sub li {
  transition: background-color 200ms ease-in-out;
}
.menu_sub li:hover {
  background-color: #30b245 !important;
}
.collage img {
  width: 100%;
  z-index: -20;
  position: relative;
}
.news {
  padding: 20px 0;
}
.news_header {
  color: #1d1e18;
  margin-top: 0;
}
.news_list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.new {
  width: 300px;
  margin-bottom: 20px;
  cursor: pointer;
}
.new_image {
  border-radius: 5px;
  overflow: hidden;
}
.new:after {
  content: '';
  display: block;
  width: 120px;
  margin: 15px auto;
  height: 5px;
  background-color: #444;
  transition: width 300ms ease-in-out;
}
.new_header {
  color: #1d1e18;
  margin: 10px 0;
  transition: color 300ms ease-in-out;
}
.new_excerpt {
  color: #666;
}
.new:hover.new:after {
  width: 100%;
  background-color: #30b245;
}
.new:hover .new_header {
  color: #30b245;
}
.projects {
  background-color: #e4e4e4;
  padding: 50px 0;
  border-bottom: 5px solid #d1d1d1;
  border-top: 5px solid #d1d1d1;
}
.projects .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex: 1 auto;
      -ms-flex: 1 auto;
          flex: 1 auto;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.project {
  width: 420px;
  padding: 10px;
  margin: 0 30px;
}
.project_container {
  cursor: pointer;
  position: relative;
  padding-bottom: 10px;
}
.project_container:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 0;
  background-color: #30b245;
  transition: height 300ms ease-in-out;
}
.project_container:hover:after {
  height: 5px;
}
.project_header {
  font-size: 1.4em;
  color: #30b245;
  text-align: center;
}
.project_excerpt {
  color: #1d1e18;
  margin-top: 20px;
  text-align: justify;
  line-height: 20px;
}
