.footer
	padding-top 20px
	height 250px
	background-color $grey
	
	.container
		display flex
		justify-content space-between
		
	&_list
		color $green
		
		div
			margin-bottom 10px
			
	&_header
		color $green
		font-weight 700
		font-size 1.5em
	
	&_contact
		text-align right
		font-weight 400
		font-size 1.2em