.header
	
	height 220px
	
	.container
		display flex
		height 100%
		align-items center
	
	&_logo
		height 200px
		img
			height 100%
			
.menu
	border 1px solid $green
	background-color white
	
	&_list, &_sub
		list-style none
		padding 0
		margin 0
		display flex
		
		a
			padding 20px
			display block
			font-weight 400
			font-size 1em
			
	&_list
		justify-content center
		
		li
			position relative
			transition background-color 250ms ease-in-out, color 250ms ease-in-out
			
			&:hover
				background-color $green
				color white
				
	&_list li:hover &_sub
		opacity 1
		transform translateY(0px)
		visibility visible
		background-color #333

	&_sub
		position absolute
		color white
		flex-direction column
		font-size .8em
		width 200px
		opacity 0
		transform translateY(-10px)
		visibility hidden
		transition transform 250ms, opacity 200ms, visibility 200ms, background-color 200ms
		background-color transparent
		z-index -10
		
		li
			transition background-color 200ms ease-in-out
			
			&:hover
				background-color $green !important