.projects
	background-color $grey
	padding 50px 0
	border-bottom 5px solid #d1d1d1
	border-top 5px solid #d1d1d1
	margin-bottom 50px
	
	.container
		
		display flex
		justify-content space-between
		
	
.project
	width 300px
	cursor pointer
	padding 10px
	position relative
	
	&:after
		content ''
		position absolute
		left 0
		right 0
		bottom -10px
		height 0
		background-color $green
		transition height 300ms ease-in-out
		
	&:hover&:after
		height 10px
	
	&_header
		font-size 1.7em
		color $green
		
	&_excerpt
		color #1D1E18
		margin-top 20px
		text-align center
		