.projects
	background-color $grey
	padding 50px 0
	border-bottom 5px solid #d1d1d1
	border-top 5px solid #d1d1d1
	margin-bottom 50px
	
	.container
		
		display flex
		justify-content space-between
		
	
.project
	color $green
	width 300px
	
	&_header
		font-size 1.7em
		
	&_excerpt
		color #1D1E18
		margin-top 20px
		text-align center